<div>
	<h2>Comment:</h2>
	<!-- <input type="text" placeholder="Comments..." ng-model="comment" />
	<input type="text" placeholder="Email" ng-model="email" />
	<input type="text" placeholder="Mobile" ng-model="mobile" /> -->
	<div><textarea cols=30  placeholder="Enter your comment..." ng-model="comments"></textarea></div>
	<div class="ngdialog-buttons">
		<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog("Cancel")>Cancel</button>
		<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm(comments)>OK</button>
    </div>
</div>