        <!-- Form-->
  <div ng-controller="UserController as userController" class="form">
  <div class="form-toggle"></div>
  <div class="form-panel one">
    <div class="form-header">
      <h1>Register Account</h1>
    </div>
    <div class="form-content" id="validateform">
      <form name="myForm" ng-submit="addUser(user)" novalidate>
       <!--  <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" id="name" ng-model="user.name" minlength="4" required="required"/>
        </div> -->
         <div class="form-group">
          <label>Full Name</label>
        <input type="text" name="user" ng-model="user.name" required>
  <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
  <span ng-show="myForm.user.$error.required">Username is required.</span>
  </span>
   </div>
       
        <div class="form-group">
          <label for="username">UserName</label>
          <input type="text" id="username" ng-model="user.username" minlength="8" required="required"/>
        </div>
        <div class="form-group" ng-class="{'has-error' : myForm.name.$invalid && !myForm.name.$pristine }">
                <label>Email(required, but never shown)</label>
                <input type="email" name="email" class="form-control" ng-model="user.email" required placeholder="Email Address"></input>
                <p ng-show="myForm.email.$touched &&  myForm.email.$invalid && !myForm.email.$pristine" class="error">Your email is required.</p>
            
            </div>
        <!-- 
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" ng-model="user.password" required="required"/>
        </div>
        <div class="form-group">
          <label for="cpassword">Confirm Password</label>
          <input type="password" id="cpassword" name="cpassword" required="required"/>
        </div> -->
        <div class="form-group">
                <label >Password Check</label>
                <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" ng-minlength="6" ng-maxlength="8" required>
                 <p style="color:red" ng-show="myForm.password.$error.minlength" class="help-block">Password Is Very Short.</p>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" name="confirmPassword"  class="form-control"  placeholder="Confirm Password"  required>
                <span class="error" ng-if="confirmPassword" ng-show="formValues.password!=formValues.confirmPassword">password should  match</span>
            </div>
        <div >
        <!-- <input type="button" id="resgisterB" value="Register" ng-click="addUser(user)"></input>  -->

         <input type="button" id="loginB" ng-disabled="myForm.$invalid"  value="Sign Up" ng-model="formValues.submit" ></input> 
        </div>
        <div class="form-group"  id="errors">
        </div>
      </form>
    </div>
  </div>