<div  ng-hide="dataloading"  class="detailques">
    <h2> {{currentquestion.title}} </h2>
      <h3><span>Asked By {{currentquestion.username}} </span></h3>
      <hr>
      <h3><span>&nbsp;-- Votes: {{currentquestion.totalVotes}}</span><span> &nbsp;-- Viewed {{currentquestion.viewCount}} times </span> <span> on {{currentquestion.createTime | date:'M/d/yyyy HH:mm:ss'}}</span></h3>
        <p>{{currentquestion.text}} </p>  
         <div ng-show="edittext" class="edit">
         <button class="imagetest" data-toggle="tooltip" title="Edit" type="button"  ng-click="editText()"></button>
		<button class="delimage" data-toggle="tooltip" title="Delete" type="button"  ng-click="deletequestion()"></button>
 </div>
         <br> 
		   <div ng-show="edittextarea">
           <textarea cols=55 rows=10 id="questiontext"  ng-model="currentquestion.text" required="required"></textarea> <br />
            <input type="button" id="questionedit" value="Edit" ng-click="questionupdate(currentquestion.text)"></input>
             </div>  
            <div class= "addanswer">
          <a href ng-click="openQCommentsForm()"> Add Comment</a>
         </div>
         <div ng-repeat="comment in currentquestion.comments" class="qcomment" >
         	<span>{{comment.text}}
         	<span style= "float:right; font:normal 12px Georgia, Times, serif;
	color:#959595;">By {{comment.username}} on {{comment.createTime | date:' HH:mm:ss'}}</span>
         	</span>
         </div>
         <br>
          
       <div ng-hide="dataloading" class= "addanswer" >
		 <div ng-show="showanswers"  >
 	<h4>{{currentquestion.answers.length}} Answer</h4>
	 <hr style="border-top: solid 0.1px;" />
  <div ng-repeat="answer in currentquestion.answers"  class="answersection" >
    <p> {{answer.text}}
      <span>answered  By {{answer.userName}} on  {{answer.createTime | date:' HH:mm:ss'}}</span> 
      </p>
      <a href ng-click="openACommentsForm(answer)"> Add Comments</a>
      <div ng-repeat="comment in answer.comments" class="acomment">
         	<p>{{comment.text}}
         	<span>By {{comment.username}} on  {{comment.createTime | date:' HH:mm:ss'}}</span>
         	</p>
       </div>    
       <hr style="border-top: solid 0.1px;" />
 </div>
     </div>  
      </div>
  <div class= "addanswer" ng-hide="addanswers">
   <a href ng-click="openQAnswerForm()"> Post Your Answer</a>
   </div>
   
  </div>
