<div  ng-hide="dataloading" ng-controller="detailBlogController as detailBlogController" class="detailques">
    <h2> {{currentquestion.title}} </h2>
      <h3><span>Asked By {{currentquestion.username}} </span> </h3>
      <hr>
      <h3> <span> on {{currentquestion.createTime | date:'M/d/yyyy HH:mm:ss'}}</span> </h3>
        <p>{{currentquestion.text}} </p>  
         <div ng-show="edittext" class="edit">
          <a  href ng-click="editText()">Edit</a>
           <a  href ng-click="deletequestion()" >Delete</a>
          </div>
          
		   <div ng-show="edittextarea">
           <textarea cols=55 rows=10 id="questiontext"  ng-model="currentquestion.text" required="required"></textarea> <br />
            <input type="button" id="questionedit" value="Edit" ng-click="questionupdate(currentquestion.text)"></input>
             </div>  
             
          <a href ng-click="openQCommentsForm()"> Add Comment</a>
         <div ng-repeat="comment in currentquestion.comments" class="qcomment" >
         	<p>{{comment.text}}
         	<span>By {{comment.username}} on  {{comment.createTime | date:' HH:mm:ss'}}</span>
         	</p>
         </div>
         
          
       <div ng-hide="dataloading"  >
		 <div ng-show="showanswers"  >
 <h4>{{currentquestion.answers.length}} Answer</h4>
 <hr style="border-top: solid 0.1px;" />
 
 <div ng-repeat="answer in currentquestion.answers" ng-controller="detailBlogController as detailBlogController" class="answersection" >
    <p> {{answer.text}}</p>
    </br>
      <span>answered  By {{answer.userName}} </span> 
      <span> on  {{answer.createTime | date:' HH:mm:ss'}}</span> 
      <br>
      <a href ng-click="openACommentsForm(answer)"> Add Comments</a>
      <div ng-repeat="comment in answer.comments" class="acomment">
         	<p>{{comment.text}}
         	<span>By {{comment.username}} on  {{comment.createTime | date:' HH:mm:ss'}}</span>
         	</p>
       </div>    
       <hr style="border-top: solid 0.1px;" />
 </div>
     </div>   </div>
     <hr>
  <div ng-hide="addanswers">
        <input type="button" id="answerB" value="Post Your Answer" ng-click="addanswer()"></input> 
   </div>
   
 <div ng-show="addanswers">
	<h4>Your Answer</h4>
	<form>
        <div class="form-group">
          <textarea cols=55 rows=10 id="answertext"  ng-model="answer.text" required="required"></textarea> <br />
        </div>
        <div >
        <input type="button" id="answerB" value="Post Your Answer" ng-click="addYourAnswer(answer)"></input> 
         </div>
      </form>
    </div>
  </div>