 <div ng-repeat="question in questions" ng-controller="searchCtrl as searchCtrl" >
    <h2> <a>{{question.title}}</a>
    <br>
   <span>Created On {{question.createTime | date:'M/d/yyyy HH:mm:ss'}} | By {{question.username}}</span> </h2>
         <p>{{ question.text | limitTo: 100 }}{{question.text.length > 100 ? '.....' : ''}}</p>
         
              <p><a href="index.html#/viewdetailblog/{{question.id}}"  >Read more | Comments (5)</a></p>
 </div>
 <div >
 	<a href ng-show="showprev" ng-click="setPrevPage()">Prev</a>
 <a  href ng-show="shownext" ng-click="setPage()">Next</a>	
</div>
		